/*OSNOVA*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    list-style: none;
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.open {
    display: flex !important;
    flex-direction: column;
}

/*--------------------------------OSNOVA*/
/*-------------------------------TEXT SAMPLE*/
.text-h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.text-p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
}

/*-------------------------------TEXT SAMPLE*/

/* ------------header */
.header {
    background: url(../img/Bg.png) no-repeat 100%;
    color: white;
    height: 701px;
}

.header-flex {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    margin-right: 7px;
}

.header-logo a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header-nav ul {
    display: flex;
}

.header-nav li {
    margin-left: 30px;
    list-style-type: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.header-nav li:hover {
    color: rgb(202, 191, 176);
}

.header-button button {
    width: 100px;
    height: 40px;
    background: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
}

.header-button button:hover {
    background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, #EE3D1B 102.55%);
    border: none;
}

.header-content {
    padding-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header-p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 60px;
    width: 500px;
    height: 114px;
}

.main-button button {
    width: 160px;
    height: 50px;
    color: #ED4C5C;
    background: #FFFFFF;
    border-radius: 6px;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    align-self: center;
}

.main-button button:hover {
    background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, #d3cac9 102.55%);
}

/* -------------about */
.about {
    padding-top: 94px;
}

.about-flex {
    display: flex;
    justify-content: space-between;
}

.about-text {
    align-self: center;
    flex: 1;
    max-width: 445px;
}

.about-p {
    padding-top: 31px;
    margin-bottom: 10px;
}

.about-more {
    color: #ED4C5C;
    cursor: pointer;
}

.about-pic {}

.about-pic img {
    width: 100%;
    padding-right: 92px;
}